.wrapper {
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.slide_item {
  width: 100%;
  position: relative;
}

.slide_image {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slide_content {
  height: 100%;
  width: 100%;
}

.slide_content_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.heading {
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
}

.sub_heading {
  font-size: 3rem;
  text-transform: uppercase;
}

.text {
}

.btn {
  display: inline-block;
  margin: 0 0.5rem;
}
